In [1]:
import pandas as pd

In [2]:
#Reading data

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

   fever  bodypain  age  runnynose  diffbreathing  Covid19
0    104         1   81          1              0        1
1    104         1    2          1             -1        0
2     99         0   69          1             -1        0
3    102         0   10          1              0        0
4    100         0   64          1              1        0

In [4]:
df.tail()

      fever  bodypain  age  runnynose  diffbreathing  Covid19
2002    100         1   16          0             -1        1
2003     99         1    1          0              0        1
2004    101         0   83          0              0        0
2005    102         1   68          0              1        0
2006     99         0   49          1             -1        1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2007 entries, 0 to 2006
Data columns (total 6 columns):
fever            2007 non-null int64
bodypain         2007 non-null int64
age              2007 non-null int64
runnynose        2007 non-null int64
diffbreathing    2007 non-null int64
Covid19          2007 non-null int64
dtypes: int64(6)
memory usage: 94.2 KB

In [6]:
df['diffbreathing'].value_counts()

-1    719
 1    658
 0    630
Name: diffbreathing, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,runnynose,diffbreathing,Covid19
count,2007.000000,2007.000000,2007.000000,2007.000000,2007.000000,2007.000000
mean,101.506228,0.508221,51.154459,0.503239,-0.030394,0.509716
std,2.291307,0.500057,28.826328,0.500114,0.827959,0.500030
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,100.000000,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,102.000000,1.000000,51.000000,1.000000,0.000000,1.000000
75%,103.000000,1.000000,76.000000,1.000000,1.000000,1.000000
max,105.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [8]:
#Traintestsplitting

In [9]:
import numpy as np

In [10]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

      fever  bodypain  age  runnynose  diffbreathing  Covid19
654     102         1   56          0              1        0
916     101         1   82          1             -1        0
261      99         1   78          1              0        0
607     102         0  100          0             -1        1
1331    101         1   84          1             -1        1
...     ...       ...  ...        ...            ...      ...
1130    103         0   41          0              0        0
1294     98         1   36          1             -1        0
860     103         1   53          0              1        1
1459     99         0   21          0              1        1
1126    104         1    9          0             -1        0

[1606 rows x 6 columns]

In [13]:
test

      fever  bodypain  age  runnynose  diffbreathing  Covid19
1960    104         1   73          1              0        1
526     100         1   52          0              1        1
393      98         0   98          1              1        0
1402    101         0   23          0             -1        0
433      99         1   33          1              1        0
...     ...       ...  ...        ...            ...      ...
1664    103         1   46          1              1        1
938     105         1   32          1              0        0
1326     99         0   79          0             -1        1
1138     98         0   99          0              1        1
1037    105         1   83          0             -1        0

[401 rows x 6 columns]

In [14]:
X_train = train[['fever','bodypain','age','runnynose','diffbreathing']].to_numpy()
X_test = test[['fever','bodypain','age','runnynose','diffbreathing']].to_numpy()

In [15]:
Y_train = train[['Covid19']].to_numpy().reshape(1606 ,)
Y_test = test[['Covid19']].to_numpy().reshape(401 ,1)

In [16]:
Y_train

array([0, 0, 0, ..., 1, 1, 0])

In [17]:
#logistic regression - fit linear model and predic Probability

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

/Users/rakshakannusami/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
#now you can put new value and predict the percentage of getting corona virus
#we don't need yes/no, we need to predict probability

In [21]:
infprob = clf.predict_proba([[104,1,22,1,1]])[0][1]
infprob

0.551920332861884

In [24]:
import pickle

In [26]:
with open ('model_pickle','wb') as f:
    pickle.dump(clf,f)